@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(utility.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}
.heading{
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
}
.tetimonial{
    background:#ECF2F7;
}
.container{
    width: 95%;
    max-width: 1280px;
    margin:auto;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-areas: 
    "item1 item1 item2 item3"
    "item4 item5 item5 item3";
    gap: 1.5rem;
    /* text-align: center; */
    /* height: 90%; */
    
    
}
.items{
    border-radius:5px; 
    padding: 1.5rem;
    /* margin: 10px; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70px 1fr;
    margin-top:10px;
    grid-template-areas: 
    "image name" "title title" "description description" ;
    /* row-gap: 1rem; */
    align-content: start;
}
.items img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    grid-area: image;
    
}
.items .name{
    font-size: 1.6rem;
    grid-area: name;
    align-self: center;
    align-content: center;
    font-weight: 600;
    /* margin-left: 10px; */
}

.items .title{
    font-size: 1.8rem;
    grid-area: title;
    font-weight: 600;
}

.items .discription{
    font-size: 1.6rem;
    grid-area: description;
}
.items .discription::before{
    content: '"';
}
.items .discription::after{
    content: '"';
}
#item-1{
    grid-area: item1;
    background-color: #733FC7;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top right;

}
#item-2{
    background-color:rgb(80, 76, 76);
    grid-area: item2;
}
#item-3{
    background-color: lightyellow;
    grid-area: item3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
#item-4{
    background-color: rgb(95, 158, 194);
    grid-area: item4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#item-5{
    background-color: rgb(48, 121, 48);
    grid-area: item5;
}

